html, body, main, h1, h2, h3, p, img, ul, li, form, label, article, aside, footer, header, nav, section {
  margin:0;
  padding:0;
  border:0;
}
header {
  background-image: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto contain;
  height: 150px;
  text-align: center;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
header h1, header a {
  max-width: 50%;
  display: inline-flex;
  text-decoration: none;
  text-align: center;
  color: #000;
  font-family: 'Open Sans', sans-serif;
}
header h1 {
  color: #fff;
}
nav a {
  padding-right: 25px;
  font-size: 1.2rem;
  font-weight: bold;
}
nav ul {
  list-style:none;
  display: inline-block;
}
nav {  
  /*float: right;*/
  text-align: center;
  margin-top: 1%;
}
header a:hover, .snippets:hover {
  color: #800;
  cursor: pointer;
  cursor: hand;
}
main section {
  max-width: 90%;
  margin: 2% 5%;
  text-align: center
}

.container {
  /*max-height: 100px;*/
}
input#in-title, textarea#in-text, input#edit-title, textarea#edit-text {
  width: 95%;
  height: 40%;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
}
