html, body, main, h1, h2, h3, p, img, ul, li, form, label, article, aside, footer, header, nav, section {
  margin:0;
  padding:0;
  border:0;
}
.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1
}

.bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
header {
  height: 150px;
  text-align: left;
  padding: 0 2rem;
}
header h1, header a {
  max-width: 50%;
  display: inline-flex;
  text-decoration: none;
  /*text-align: left;*/
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
nav a {
  padding-right: 25px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #eee
}
nav ul {
  list-style:none;
  display: inline-flex;
  padding-right: 2%;
}
nav {  
  text-align: left;
  margin-top: 1%;
}
header a:hover, .snippets:hover {
  color: #288;
  cursor: pointer;
  cursor: hand;
}
main aside, label {
  max-width: 90%;
  margin: 2%;
  text-align: left
}
input#in-title, textarea#in-text, input#edit-title, textarea#edit-text {
  width: 95%;
  height: 40%;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
}
textarea#in-text {
  height: 100px;
}
main {
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 2rem;
  margin: 0 auto;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  display: inline-block;
  padding: 0 .5%;
  height: 38px;
  color: #555;
  text-align: center;
  font-weight: 800;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid black;
  cursor: pointer;
  box-sizing: border-box; 
}
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button   {
  color: #288;
  cursor: pointer;
  cursor: hand;
}
