<!DOCTYPE html>
<html>
<head>
  <title>Learning Journal</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
  <section class='bg'><img src="../static/img/header-bg.jpg" alt="bg"></section>
  <header class="container">
    <h1>Scott's Learning Journal</h1>
    <nav>
      <ul>
        {% if not request.authenticated_userid %}
          <li><a href="{{ request.route_url('login') }}">Login</a></li>
          <li><a href="{{ request.route_url('home') }}">Home</a></li>
        {% else %}
          <li><a href="{{ request.route_url('logout') }}">Logout</a></li>
          <li><a href="{{ request.route_url('home') }}">Home</a></li>
          <li><a href="{{ request.route_url('new-entry') }}">New Entry</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main class="container posts-short">
    {% block section %}{% endblock %}
  </main>
  <footer class="container">
  </footer>
</body>
</html>
