{% extends "base.jinja2" %}
{% block section %}
      {% if not request.authenticated_userid %}
        <h1>Please Login</h1>
        {% elif request.authenticated_userid %}
          <article class='entry' id='entry{{entry.id}}'>
            <h3>{{ entry.title }}</h3>
            <input type=submit value='Edit Entry' id="input-forward" onclick="window.location='{{ request.route_url('edit-entry', id=entry.id) }}'">
            <p class='dateline'>{{ entry.timestamp.strftime('%b, %d, %y')}}</p>
            <div class='entry_body'>
              {{ entry.text | safe }}
            </div>
          </article>
        {% endif %}
  {% endblock %}
