{% extends "base.jinja2" %}
{% block section %}
<form id="edit-form" action="{{ request.route_url('edit-entry', id=entry.id) }}" method="POST">
    <h2>Edit Entry</h2>
    <input id="in-title" name="title" placeholder="Title" type="text" value="{{ entry.title }}">
    <textarea id="in-text" name="text" placeholder="Type your notes here...">{{ entry.text }}</textarea>
    <input id="submit-new" type="submit" value="Submit" name="Submit"/>
</form>
{% endblock %}
