{% extends "base.jinja2" %}
{% block body %}
    <aside>
      <form action="{{ request.route_url('add') }}" method="POST" class="add_entry">
        <label for="title">Title</label>
        <input id='in-title' type="text" name="title" id="title"/>
        <label for="text">Text</label>
        <textarea id='in-text' name="text" id="text" rows="5" cols="80"></textarea>
        <input id='submit-new' type="submit" value="Submit" name="Submit"/>
      </form>
    </aside>
    <h2>Entries</h2>
    {% for entry in entries %}
    <article class='entry' id='entry{{entry.id}}'>
      <h3>{{ entry.title }}</h3>
      <p class='dateline'>{{ entry.timestamp.strftime('%b, %d, %y')}}</p>
      <div class='entry_body'>
        {{ entry.text | safe }}
      </div>
    </article>
    {% else %}
    <divclass='entry'>
      <p><em>No entries here so far</em></p>
    </div>
    {% endfor %}
  {% endblock %}


    <!-- <aside class='container'>
      <form action="{{ reqeust.route_url('add') }}" method='POST' class='add_entry'>
          <label for='title'>Title</label>
          <input id='in-title' type='text' name='title' placeholder='I learned something new!' maxlength="140">
          <label for='text'>Entry</label>
          <textarea id='in-text' type='text' name='text' placeholder='I learned something new!'></textarea>
          <input type='submit' id='submit-new' value='Share' name='Share'>Submit</button>
      </form>      
    </aside> -->
